.product__name-container .product__name {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    height: 40px;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.product__brand-container {
	margin-top: 5px;
}

.product__brand-container .product__brand {
    font-size: 13px;
    color: #6b6b6b;
    line-height: 17px;
    text-transform: uppercase;
}
.product__prices-container {
	margin-top: 5px;
}
.product__price-container {
	text-align: center;
}

.product__price-label {
	margin-right: 3px;
	font-size: 14px;
}

.product__price-currency,
.product__price-value {
	font-size: 14px;
}

/**
 * LIST PRICE
 */
.product__price-container--list-price {
	color: #737373;
}

.product__price-container--list-price .product__price-currency,
.product__price-container--list-price .product__price-value {
	text-decoration: line-through;
}

/**
 * BEST PRICE
 */
.product__price-container--best-price {
	color: #1FA02E;
}

.product__price-container--best-price span {
	vertical-align: baseline;
}

.product__price-container--best-price .product__price-currency,
.product__price-container--best-price .product__price-value {
	font-size: 16px;
	font-weight: 700;
}
.product__product-quantity-container {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.product__product-quantity-input {
	width: 67%;
}

.product__product-quantity-input input {
	width: 100%;
	height: 40px;
	font-size: 14px;
	text-align: center;
	font-weight: 600;
	border-radius: 3px;
	background-color: #f2f2f2;
}

.product__product-quantity-controls {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 30%;
}

.product__product-quantity-control {
	height: 46%;
}

.product__product-quantity-control button {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 100%;
	height: 100%;
	border-radius: 3px;
	color: #fff;
	background-color: #666;
	font-size: 9px;
	-webkit-transition: background-color .25s;
	transition: background-color .25s;
}

.product__product-quantity-control button:hover {
	background-color: #1FA02E;
}

.product__product-quantity-control button[disabled] {
	background-color: #d3d3d3;
	cursor: default;
}
.product__buy-button {
	width: 100%;
	height: 40px;
	background-color: #A4C735;
	border-radius: 3px;
	color: #fff;
	-webkit-transition: background-color .25s;
	transition: background-color .25s;
}

.product__buy-button:hover {
	background-color: #95B709;
}

.product__buy-button .shopping-cart {
	font-size: 22px;
}

.product__buy-button .buy-button-text {
	font-size: 14px;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-left: 7px;
	font-weight: 600;
}
.product__product-controls-container {
	width: 100%;
	margin-top: 10px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.product__product-controls-container .product__product-quantity-container {
	width: 35%;
}

.product__product-controls-container .product__buy-button-container {
	width: 60%;
}
.product-item {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	border: 1px solid #eaeaea;
	padding: 12px;
	background-color: #fff;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}
.product {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
}
