.payment-methods {
	margin-top: 30px;
}

.payment-methods__header {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	font-size: 35px;
	font-weight: 700;
	color: #333;
	width: 100%;
	border-bottom: 1px solid #d3d3d3;
}

.payment-methods__header-title {
	padding-bottom: 10px;
	position: relative;
}

.payment-methods__header-title:before {
	content: "";
	left: 0;
	right: 0;
	bottom: -2px;
	height: 2px;
	position: absolute;
	background-color: #1FA02E;
	width: 141px;
	margin: auto;
}

.payment-methods__region {
	margin-top: 50px;
}

.payment-methods__region-name {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	height: 36px;
	font-size: 22px;
	font-weight: 300;
	letter-spacing: 1px;
	background-color: #f4f4f4;
	text-transform: uppercase;
}

.payment-methods__method-types {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-top: 50px;
}

.payment-methods__method {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	width: 50%;
}

.payment-methods__method:nth-child(even) {
	border-left: 1px solid #d3d3d3;
}

.payment-methods__method-type {
	position: relative;
	font-size: 20px;
	line-height: 25px;
	font-weight: 300;
	color: #1FA02E;
	padding-bottom: 10px;
}

.payment-methods__method-type:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 118px;
	margin: auto;
	height: 1px;
	background: #1fa02e;
}

.payment-methods__cards {
	margin-top: 20px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	max-width: 312px;
}

.payment-methods__card {
	width: 63px;
	height: 46px;
	margin: 7px;
	border: 1px solid #e6e6e6;
	border-radius: 3px;
}

.payment-methods__card .card {
	margin: auto;
}